1. Write a Python script to generate and print a dictionary that contains a number (between
1 and n) in the form (x, x*x)
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#1
dict1= {}


for i in range (1, 6):
        dict1[i]=i ** 2
        
    
print(dict1)

2. Write a Python program to combine two dictionary adding values for common keys

In [2]:
#2
d1={'a':100, 'b':200, 'c':300}
d2={'a':300, 'b':200, 'd':400}
d3={}

for key in d1:
    d3[key]=d1[key]
    
for key in d2:
    if key in d3:
        d3[key]+=d2[key]
    else:
        d3[key]=d2[key]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

3. Write a Python program to print all unique values in a dictionary

In [5]:
 #3
data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
set1 = set()
for item in data:
#     print(item.values())
    set1.update(item.values())
print(set1)

{'S001', 'S002', 'S007', 'S005', 'S009'}

4. Write a Python program to create and display all combinations of letters, selecting each

In [8]:
#4
dict1 = {'1':['a','b'], '2':['c','d']}
for x in ['a','b']:
    for y in ['c','d']:
        print(x,y, sep="",end=" ")

ac ad bc bd

5. Write a Python program to create a dictionary from a string

In [10]:
#5
s1 = 'w3resource'
# type(s1)
dict3 = {}

for char in s1:
    if char in dict3:
        dict3[char] += 1
    else:
        dict3[char] = 1
print(dict3)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

6. Write a Python program to count the values associated with key in a dictionary.

In [13]:
#6
data=[{'id':1, 'success':True, 'name':'Lary'},{'id':2, 'success':False, 'name':'Rabi'}, {'id':3, 'success':True, 'name':'Alex'}]
type(data)
dict4={}

print(sum(dict4['success']for dict4 in data))

2

7. Write a Python program to convert a list into a nested dictionary of keys

In [2]:
#7
# problem : ['a', 'b', 'c', 'd']

#ans : {'a':{'b':{'c':{'d':{}}}}}

li = ['a', 'b', 'c', 'd']
print(list(reversed(li + [dict()])))

# reduce(lambda x, y: {y:x}, reversed(li+[dict()]))

[{}, 'd', 'c', 'b', 'a']

8. Write a Python program to sort a list alphabetically in a dictionary.

In [25]:
my_dict={'fruits':["apple", "bannana", "cherry", "date"],
        'colours':["red", "blue", "pink", "white"],
        'name':["anish", "bob", "chandu", "devil"]
        }
for key,val in my_dict.items():
#         my_dict.update((key,sorted(val)))
    my_dict[key]=sorted(val)
print(my_dict)

{'fruits': ['apple', 'bannana', 'cherry', 'date'], 'colours': ['blue', 'pink', 'red', 'white'], 'name': ['anish', 'bob', 'chandu', 'devil']}

9. Write a Python program to sort Counter by value

In [23]:
#9 
my_data= {'math':81, 'physics':83, 'chemistry':87}
my_data= list(my_data.items())
my_data.sort(reverse= True, key=lambda x: x[1])

print(my_data)

[('chemistry', 87), ('physics', 83), ('math', 81)]

In [18]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

10. Write a Python program to match key values in two dictionaries. Go to the editor

In [17]:
#10
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
for key in x:
    if key in y and x[key] == y[key]:
        print(f"{key}: {x[key]} is present in both x and y")

key1: 1 is present in both x and y

11. Write a Python program to check a list is empty or not

In [19]:
#11
list = ['a','b','c', 'd']
for x in list:
    if not list:
        print("this is empty")
    else:
        print("this list is not empty")

this list is not empty
this list is not empty
this list is not empty
this list is not empty

12. Write a Python program to remove duplicates from a list

In [29]:
#12
# Python code to remove duplicate elements
def Remove(duplicate):
    final_list = []
    for num in duplicate:
            if num not in final_list:
                    final_list.append(num)
    return final_list

# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

13. Write a Python function that takes two lists and returns True if they have at least one

In [12]:
#13
a = [1, 2, 3, 4 ]
b = [4,5,6,2]
for x in a :
    for y in b:
        if x==y:
            print('True')
            print(x)

True
2
True
4

14. Write a Python program to get the difference between the two lists

In [19]:
#14
e= [2, 4, 6 , 8]
f= [1, 2, 4, 7]
 
diffrence= [x 
            
            for x in e
            if x not in f]
print(diffrence)

[6, 8]

15. Write a Python program to find the second smallest number in a list

In [28]:
#15
l= [9,8,5,4]
s=set(l)
print (sorted(s)[1])

5

16. Write a Python program to find the second largest number in a list.

In [29]:
#16
l= [9,8,5,4]
s=set(l)
print (sorted(s)[-2])

8

17. Write a Python program to get the frequency of the elements in a list

In [37]:
#17
r_list= ['A', 'B', 'D', 'G', 'D', 'A', 'A', 'B']
frequency={}

for x in r_list:
    if x in frequency:
        frequency[x]+=1
    else:
        frequency[x]=1
        
print(frequency)

{'A': 3, 'B': 2, 'D': 2, 'G': 1}

18. Write a Python program to convert a list of multiple integers into a single integer

In [38]:
#18
l= [9,8,5,4]
for x in l:
    print(x, end='')

9854

19. Write a Python program to compute the similarity between two lists

In [46]:
#19
data_1=['red','orange', 'green', 'blue', 'white']
data_2=['black', 'yellow', 'green', 'blue']
d1=[]
d2=[]
for x in data_1:
    if x not in data_2:
        d1.append(x)
for y in data_2:
    if y not in data_1:
        d2.append(y)
print(d1)  
print(d2)

['red', 'orange', 'white']
['black', 'yellow']

20. Write a Python program to check if all dictionaries in a list are empty or not

In [1]:
#20
list1 = [{}, {}, {}]
list2 = [{1: 2}, {}, {}]
result1 = all(not d for d in list1)
result2 = all(not d for d in list2)
# Print the results
print(result1)
print(result2)

True
False

21. Write a Python program to count the number of characters (character frequency) in a
string

In [4]:
#21
str = "google.com"
char_dict = {}

for x in str:
    if x in char_dict:
        char_dict[x]+= 1
    else:
        char_dict[x]= 1
        
print(char_dict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

22. Write a Python program to get a string from a given string where all occurrences of its
first char have been changed to '$' ,except the first char itself.

In [1]:
#22
sample_str ='restart'
first_char = sample_str[0]
modify_str = first_char+ sample_str[1:].replace(first_char,'$')
print(modify_str)

resta$t

In [15]:
len(n[1])

3

23. Write a Python function that takes a list of words and returns the length of the longest
one

In [16]:
#23
li= ['fjhg','th','kl','hgdfgddd']

def get_longest_length(li):
    length=0
    for val in li:
        if len(val)>length:
            length=len(val)
    return length
print(get_longest_length(li))

8

24. Write a Python program to count the occurrences of each word in a given sentence

In [ ]:
#from collections import Counter
sentence= 'This is a sample sentence.This is another sentence.'

word_counts = Counter(sentence.split())

print(word_counts)

25. Write a Python function to convert a given string to all uppercase if it contains at least 2
uppercase characters in the first 4 characters.

In [4]:
str1="HelLo World"
str1_slice=str1[:4]
count=0
for val in str1_slice:
    if val.isupper():
        count+=1
        
if count>=2:
    str1=str1.upper()
    
print(str1)

HELLO WORLD

26. Write a Python program to count and display the vowels of a given text

In [10]:
st=input("Enter the string : ")
c=0
vowel='AEIOUaeiou'
for i in st:
        if i in vowel:
         c+=1
print(c)

Enter the string : ouie
4

27. Write a Python program to create a tuple with different data types.

In [8]:
tupple=(3,4,7.8,'ram', True)

print(tupple)

(3, 4, 7.8, 'ram', True)

28. Write a Python program to add an item in a tuple

In [9]:
t1=(2,3, 3.5, 'you' )
t2=(1,4,5.5,'me')
t3=t1+t2

print(t3)

(2, 3, 3.5, 'you', 1, 4, 5.5, 'me')

29. Write a Python program to convert a tuple to a string.

In [6]:
def converttuple(tup):
    str= ''
    for item in tup:
        str= str+item
    return str   

tuple=('j','a', 'c', 'k', 's', 'o', 'n')
str= converttuple(tuple)
print(str)

jackson

30. Write a Python program to find the repeated items of a tuple

In [20]:
input_tuple = (1,2,2,3,3,4,5,6,7,7)
count_dict={}
repeated_items=[]

for item in input_tuple:
    if item in count_dict:
        count_dict[item]+= 1
        repeated_items.append(item)
    else:
         count_dict[item]=1

print(repeated_items)

[2, 3, 7]

31. Write a Python program to find the length of a tuple.

In [11]:
tup= ('noway', 1, 6, 9, 'rani')

tup_len= len(tup)
print(tup_len)

5

32. Write a Python program to convert a tuple to a dictionary

In [12]:
my_tuple = (("d", 8) ,("j" , 10) ,("s",3))

my_dict = dict(my_tuple)

print(my_dict)

{'d': 8, 'j': 10, 's': 3}

33. Write a Python program to replace last value of tuples in a list.

In [20]:
s_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

new_value = 100

modified_list = [(x[:-1] + (new_value,) )for x in s_list]

print(modified_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

34. Write a Python program to replace last value of tuples in a list.

In [22]:
s_List = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
modified_item = [x
                 for x in s_List
                 if x and x[-1]]
          
print(modified_item)

[('a', 'b'), ('a', 'b', 'c'), 'd']

35. Write a Python program to sort a tuple by its float element

In [29]:
tup= [("jack", "20"), ("con", "32"), ("rom", "23"), ("sam","26")]

tup.sort(key=lambda x:x[1], reverse=True)
print(tup)

[('con', '32'), ('sam', '26'), ('rom', '23'), ('jack', '20')]

36. Write a Python program to count the elements in a list until an element is a tuple

In [24]:
my_list = [1,2,3,(4,5),7,8,9]

count = 0

for x in my_list:
    if type(x) is tuple:
        break
    count+=1
print("number of element before first tuple",count)

number of element before first tuple 3

37. Write a Python program to iteration over sets

In [39]:
set_1= {2,4,6,8,10}

for x in set_1:
    print(x)

2
4
6
8
10

38. Write a Python program to add member(s) in a set

In [41]:
my_set= {2,4,5,7,8,9,90}

my_set.add(77)

print(my_set)

{2, 4, 5, 7, 8, 9, 90, 77}

39. Write a Python program to remove item(s) from set

In [42]:
my_set= {2,4,5,7,8,9,90}

my_set.remove(90)

print(my_set)

{2, 4, 5, 7, 8, 9}

40. Write a Python program to remove an item from a set if it is present in the set

In [43]:
my_set = {1, 2, 3, 4, 5}

item_remove = 3
# Remove the item from the set (if present)

my_set.discard(item_remove)

print(my_set)

{1, 2, 4, 5}

41. Write a Python program to create an intersection of sets

In [44]:
my_set1 = {1, 2, 3, 4, 5}

my_set2 = {3, 4, 5, 6, 7}

my_set3 = my_set2 & my_set1

print(my_set3)

{3, 4, 5}

42. Write a Python program to create a symmetric difference

In [45]:
my_set1 = {1, 2, 3, 4, 5}

my_set2 = {3,4,5,6,7}

my_set3 = my_set1 ^ my_set2

print(my_set3)

{1, 2, 6, 7}

43. Write a Python program to find maximum and the minimum value in a set.

In [47]:
my_set1 = {12, 213, 3423, 9832, 533}
my_set2 = {313,432,5391,6283,75}

my_set3 = max(my_set1)
my_set4 = min(my_set2)

print(my_set3)
print(my_set4)

9832
75

44. Write a Python program to find the length of a set.

In [48]:
my_set1 = {1318, 213, 3323, 432, 533}
my_set2 = {4123,3312,231,723,756}

my_set3 = len(my_set1)
my_set4 = len(my_set2)

print(my_set3)
print(my_set4)

5
5

 #45. Write a Python program to construct the following pattern, using a nested for loop. * * * * * * * * * * * * * * * * * * * * * * * * *

In [1]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('****')
print('***')
print('**')
print('*')

*
**
***
****
*****
****
***
**
*

46. Write a Python program to count the number of even and odd numbers from a series of
numbers.

In [2]:
num=(1, 2, 3, 4, 5, 6, 7, 8, 9)

even_num=0
odd_num=0
 
for i in num:
    if i%2==0:
        even_num+=1
    else:
        odd_num+=1
        
print('number of even number is:', even_num)
print('number of odd number is:', odd_num)

number of even number is: 4
number of odd number is: 5

47. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [7]:
for num in range(7):
    if num ==3 or num==6:
        continue
    print(num, end=' ')

0 1 2 4 5

48. Write a Python program to get the Fibonacci series between 0 to 50

In [2]:
# Initialize variables for the first two Fibonacci numbers
a, b = 0, 1

# Print the initial 1 (the first Fibonacci number)
print(a, end=' ')

# Generate and print the Fibonacci series up to 50
while b <= 50:
    print(b, end=' ')
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

49. Write a Python program which takes two digits m (row) and n (column) as input and
generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j
Note :
i = 0,1.., m-1
j = 0,1, n-1.
Test Data : Rows = 3, Columns = 4
Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [16]:
rows=int(input("enter the number of rows: "))
colums=int(input("enter the number of column: "))

array_2B=[[i*j for j in range(columns)]
                for i in range(rows)]

for rows in array_2B:
    print(rows)

enter the number of rows: 3
enter the number of column: 4
[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]

50. Write a Python program to find numbers between 100 and 400 (both included) where
each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [21]:
# for val in range(100, 401):

#     print(val)
from copy import copy
    
def is_even(val):
    return val % 2==0

def get_even_num(num):
    num_copy=copy(num)
    while num:
        val = num % 10
        num = num // 10
        if not is_even(val):
            return None
        return num_copy
                        
        
num_li= []

for val in range (100, 401):
    if get_even_num(val):
        num_li.append(val)
        
print(num_li)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

In [96]:
def each_even(a):
    num=a
    st_num=[i for i in str(a)]
    st=''
    for even in st_num:
        if int(even)%2==0:
            st+=str(even)
    if st==num:
        return int(st)
    
l1=[]

for val in range (100, 401):
    l1.append(each_even(str(val)))
    
answer=list(filter(lambda x: x!=None,l1))
# for i in l1:
#     if i!=None:
#         answer.append(i)
    
print(answer)

[200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400]

52. Write a Python program to print alphabet pattern 'P'

53. Write a Python program to check a triangle is valid or not.

In [17]:
s_1=float(input("enter the value of first side: "))
s_2=float(input("enter the value of second side: "))
s_3=float(input("enter the value of third side: "))

if (s_1+s_2>s_3) and (s_2+s_3>s_1) and (s_3+s_1>s_2):
    print("it's a triangle")
else:
    print("it's not triangle")

enter the value of first side: 7
enter the value of second side: 7
enter the value of third side: 7
it's a triangle

54. Write a Python program to create the multiplication table (from 1 to 10) of a number

In [18]:
num = 11
for i in range(1,11):
    print(num,"*",i,"=", num*i)

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

55. Write a Python program to construct the following pattern, using a nested loop number.
1 22 333 4444 55555 666666 7777777 88888888 999999999

In [21]:
 num = 9
for i in range(1,num + 1):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

56. Write a Python function to find the Max of three numbers.

In [22]:
a=399
b=78
c=500

max_num=max(a,b,c)
print(max_num)

500

57. Write a Python function to sum all the numbers in a list

In [26]:
list=[11, 12, 13]

sum_num= 11+12+13
print(sum_num)

36

58. Write a Python function to multiply all the numbers in a list

In [27]:
list = [10, 20, 30, 40, 45]

mul_num = 10*20*30*40*45

print(mul_num)

10800000

59. Write a Python function that accepts a string and calculate the number of upper case
letters and lower case letters

In [28]:
str= "HELLO world"

upper_count= 0
lower_count= 0

for x in str:
    if x.isupper():
        upper_count+=1
    elif x.islower():
        lower_count+=1
        
print("Uppercase letters: ", upper_count)
print("Lowercase letters: ", lower_count)

Uppercase letters:  5
Lowercase letters:  5

60. Write a Python function that takes a list and returns a new list with unique elements of
the first list

In [29]:
input_list = [1, 2, 2, 3, 3, 4, 5, 5]

unique_set = [set(input_list)]

print("input list:",input_list)
print("Unique Elements:",unique_set)

input list: [1, 2, 2, 3, 3, 4, 5, 5]
Unique Elements: [{1, 2, 3, 4, 5}]

61. Write a Python program to print the even numbers from a given list

In [31]:
numbers = [1,2,3,4,5,6,7,8,123]

for num in numbers:
    if num % 2 == 0:
        print(num)

2
4
6
8

62. Write a Python function that checks whether a passed string is palindrome or not

In [1]:
str="bob"

def is_palindrome(s):
    return s == s[::-1]
if is_palindrome(str):
    print("this string is palindrome")
else:
    print("this string is not palindrome")

this string is palindrome

63. Write a Python program to access a function inside a function

In [3]:
def inner_function():
    print("it's a inner function")
def outer_function():
    print("it's a outer function")
    
outer_function()
inner_function()

it's a outer function
it's a inner function

64. Write a Python program to detect the number of local variables declared in a function.

In [31]:
def fun():
    x= 3
    str= 'Darshit'
print(fun.__code__.co_nlocals)

2